
.bars1 {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-bottom: thin solid crimson;
    // border-radius: 4px;
    height: 100%;
    border: thin solid black;
    width: 40%;
    flex: 2;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: crimson;
      color: white;
      font-weight: bold;
    }

    &:active {
      background-color: rgb(218, 92, 9);
      color: white;
      font-weight: bold;
    }
  }
