.bars {
    padding: 1.75rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: thick solid black;
   
    
    // height: 100%;
    // width: 60px;
  }
